[Unit]
Description=Telegram bot 'Calcula'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Programs/calcula_bot/
Environment="PATH=/root/Program/calcula_bot/.env/bin"
ExecStart=/root/Program/calcula_bot/.env/bin/python /root/Programs/calcula_bot/tgBot_Calculating.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
